# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/

# Firebase secrets
.env
lib/.env
lib/firebase_options.dart
firebase.json
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
